.container {
  display: flex;
  flex-direction: column;
}

.productGrid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 380px 380px 380px;
    padding-top: 3em;
  }

.title {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: black;
}

.filterButton {
  display: flex;
}